<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Atendimento MaisThermas</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- JS BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- ICONS BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/atendimento.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon-ficha.png" type="image/x-icon">
</head>

<body>
  <!-- Tratamento de data -->
  <%
    const agora = new Date();

    const dia = String(agora.getDate()).padStart(2, '0');
    const mes = String(agora.getMonth() + 1).padStart(2, '0');
    const ano = agora.getFullYear();

    const hora = String(agora.getHours()).padStart(2, '0');
    const minutos = String(agora.getMinutes()).padStart(2, '0');

    const dataHoraFormatada = `${dia}/${mes}/${ano} - ${hora}:${minutos}`;
  %>
  <div class="col-1 w-auto text-start link-top">
    <a href="/agendamentos" class="btn mt-1 ms-3" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Voltar">
      <i class="bi bi-arrow-left pe-1 fs-3 text-white"></i>
    </a>
  </div>
  <div class="row d-flex justify-content-center title-top w-100 mb-3">
    <div class="col-10 d-flex align-items-center justify-content-center">
      <img src="/img/maisThermas.png" class="maisThermas-header me-3">
      <h3 class="text-center mt-2 ">Ficha de atendimento - <%= agendamento.nomesAgendamento %></h3>
    </div>
  </div>
  <div class="container container-frente pt-2">
    <div class="container-form pb-0">
      <div class="print-page">
        <form action="/ficha_atendimento" method="POST" class="form-control p-3 mt-2 form-ficha bg-white" id="formFicha">
          <input type="hidden" name="idFicha" id="idFicha" value="<%= agendamento.id %>">
          <!-- Linha 1 -->
          <div class="row g-1 px-2">
            <img src="/img/thermas-logo.png" class="logo-header pb-2">
            <!-- Input Base -->
            <div class="col-3 ps-3">
              <p class="fs-7 mb-1 fw-semibold">Base:</p>
              <input list="base" id="inputBase" name="base" class="form-control form-control-sm rounded-3 " autocomplete="off">
              <datalist id="base">
                <option value="Q1">
                <option value="Q2">
                <option value="Q3">
                <option value="Captação">
                <option value="Externo">
                <option value="Guarany">
                <option value="Parque">
                <option value="Resort">
              </datalist>
            </div>
            <!-- Input Brinde -->
            <div class="col-2">
              <p class="fs-7 mb-1 fw-semibold">Brinde:</p>
              <input list="brinde" name="brinde" class="form-control form-control-sm rounded-3 " autocomplete="off">
              <datalist id="brinde">
                <option value="-">
                <option value="100">
                <option value="200">
              </datalist>
            </div>
            <!-- Input DataHora -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Data/Hora: <span class="text-danger">*</span></p>
              <input type="datetime" name="dataHora" class="form-control form-control-sm rounded-3" autocomplete="off" required value="<%= dataHoraFormatada %>" min="1900-01-01 00:00:00" max="2099-12-31 01:01:01">
            </div>
            <!-- Fim da Linha 1 -->
          </div>

          <!-- Linha 2 -->
          <div class="row g-1 px-2">
            <div class="col-2 ms-4">
              <!-- Espaço em branco para organização de layout -->
            </div>
            <!-- Input Promotor de Marketing -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Promotor de Marketing:</p>
              <input list="listaPromotores" id="promotor" name="promotor" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
              <datalist id="listaPromotores">
                <option value="Paulo Cesar">
                <option value="Talita Lima">
                <option value="Vinicius Manzzato">
                <option value="Yan Bueno">
              </datalist>
            </div>
            <!-- Input Captador Guarany -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Captador Guarany</p>
              <input list="nomesCaptadores" id="captadorGuarany" name="captadorGuarany" class="form-control form-control-sm rounded-3 border-black fs-7" autocomplete="off">
              <datalist id="nomesCaptadores">
                <option value="Andreey Mansur De Andrade">
                <option value="Antony Alex Dos Santos">
                <option value="Bruno Moises Nogueira Pinto">
                <option value="Deivid Caetano E Silva">
                <option value="Flavio Henrique Marcondes">
                <option value="Giovanni Ramos Milano">
                <option value="Guilherme Henrique Almeida Ramos">
                <option value="Ivan Gabriel Botão As Silva">
                <option value="Jessica Batista De Almeida Leite">
                <option value="Joao Lucas Paschoal Fernandes">
                <option value="João Pedro De Matos Saia">
                <option value="João Victor Ferreira Rodrigues">
                <option value="Julia Eyer Da Cunha">
                <option value="Lucas De Souza Miranda">
                <option value="Lucas Marotti Lopes">
                <option value="Lucas Vicente Martins Lopez">
                <option value="Luiz Henrique Dos Santos Azevedo">
                <option value="Maike Jhonatas Soares">
                <option value="Marcio Luis Grazzini De Castro">
                <option value="Mayra Teixeira Da Silva">
                <option value="Raphael Luiz Ramos Milano">
                <option value="Romenik Cardoso De Jesus">
                <option value="Thiago Batista Santos">
                <option value="Vinicius Alves Brilho">
                <option value="Willem Rick Oliveira Olimpio">
                <option value="Walasson De Jesus Alves">
              </datalist>

            </div>
            <!-- Input Canal de Prospecção -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Canal de Prospecção: <span class="text-danger">*</span></p>
              <input list="listaCanais" id="canalProspeccao" name="canalProspeccao" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
              <datalist id="listaCanais">
                <option value="Externo">
                <option value="Your Vacation">
                <option value="Parque">
                <option value="Resort">
                <option value="Tlmkt">
                <option value="Influx">
                <option value="Wizard">
                <option value="CCAA">
                <option value="Colégio Adventista">
              </datalist>
            </div>
          </div>
          <!-- Fim da Linha 2 -->

          <!-- Linha 3 -->
          <div class="row g-1 px-2 mt-1">
            <!-- Input Qtd. de Ingressos -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Qtd. Ingressos:</p>
              <input type="number" name="qtdIngressos" class="form-control form-control-sm rounded-3" autocomplete="off">
            </div>
            <!-- Input Plataforma -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Local da Compra:</p>
              <input list="plataforma" name="plataforma" class="form-control form-control-sm rounded-3 " autocomplete="off">
              <datalist id="plataforma">
                <option value="Central de Vendas">
                <option value="Ingresso Online">
                <option value="Parceiros">
              </datalist>
            </div>
            <!-- Input Valor da Compra -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Valor ingressos:</p>
              <input type="text" name="valorIngressos" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
            <!-- Input Data da Compra -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Data da compra:</p>
              <input type="date" name="dataCompra" class="form-control form-control-sm rounded-3" autocomplete="off" min="1900-01-01" max="2099-12-31">
            </div>
          </div>
          <!-- Fim da Linha 3 -->

          <!-- Linha 4 -->
          <div class="row g-1 px-2 mt-1 d-flex flex-row align-items-end">
            <!-- Input Ratio - Já foi Sócio (sim/não) -->
            <div class="col-3 mt-1">
              <label class="form-label mb-1 fs-7 d-block fw-semibold">Já foram sócios?</label>
              <div class="form-check form-check-inline m-0">
                <input class="form-check-input mt-2" type="radio" name="jaFoiSocio" id="socioNao" value="socioNao">
                <label class="form-check-label fs-7 fw-semibold me-2" for="socioNao">Não</label>
              </div>
              <div class="form-check form-check-inline m-0">
                <input class="form-check-input mt-2" type="radio" name="jaFoiSocio" id="socioSim" value="socioSim">
                <label class="form-check-label fs-7 fw-semibold" for="socioSim">Sim:</label>
              </div>
            </div>
            <!-- Input nº do Título -->
            <div class="col-2">
              <p class="fs-7 mb-1 fw-semibold">Nº do Título:</p>
              <input type="text" name="numeroTitulo" class="form-control form-control-sm rounded-3" autocomplete="off" value="0">
            </div>
            <!-- Input Nº de Visitas -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Quantas vezes já vieram no Thermas? <span class="text-danger">*</span></p>
              <input list="qtdVisitas" name="qtdVisitas" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
              <datalist id="qtdVisitas">
                <option value="0">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="10">
              </datalist>
            </div>
          </div>
          <!-- Fim da Linha 4 -->

          <!-- Linha 5 -->
          <div class="row g-1 px-2 mt-1">
            <!-- Input Nome do Cliente -->
            <div class="col-9 mt-1">
              <p class="fs-7 mb-1 fw-semibold">Nome: <span class="text-danger">*</span></p>
              <input type="text" name="nomeCliente" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
            </div>
            <!-- Input Data de nascimento do Cliente -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Dt. Nasc.: <span class="text-danger">*</span></p>
              <input type="date" name="dataNasc1" class="form-control form-control-sm rounded-3" autocomplete="off" required min="1900-01-01" max="2099-12-31">
            </div>
          </div>
          <!-- Fim da Linha 5 -->

          <!-- Linha 6 -->
          <div class="row g-1 px-2 pt-1">
            <!-- Input Profissão do Cliente -->
            <div class="col-6 mt-1">
              <p class="fs-7 mb-1 fw-semibold">Profissão:</p>
              <input type="text" name="profissao1" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
            <!-- Input Obs.: Profissão -->
            <div class="col-6 mt-1">
              <p class="fs-7 mb-1 fw-semibold">Obs. Profissão:</p>
              <input type="text" name="obsProfissao1" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
          </div>
          <!-- Fim da Linha 6 -->

          <!-- Linha 7 -->
          <div class="row g-1 px-2 pt-1">
            <!-- Input Nome Cônjuge -->
            <div class="col-9 mt-1">
              <p class="fs-7 mb-1 fw-semibold">Cônjuge:</p>
              <input type="text" name="conjuge" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
            <!-- Input Data de nascimento Cônjuge -->
            <div class="col mt-1">
              <p class="fs-7 mb-1 fw-semibold">Data Nasc.:</p>
              <input type="date" name="dataNasc2" class="form-control form-control-sm rounded-3" autocomplete="off" min="1900-01-01" max="2099-12-31">
            </div>
          </div>
          <!-- Fim da Linha 7 -->

          <!-- Linha 8 -->
          <div class="row g-1 px-2 pt-1">
            <!-- Input Profissão Cônjuge -->
            <div class="col-6 mt-1">
              <p class="fs-7 mb-1 fw-semibold">Profissão:</p>
              <input type="text" name="profissao2" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
            <!-- Input Obs.: Profissão Cônjuge -->
            <div class="col-6 mt-1 pb-1">
              <p class="fs-7 mb-1 fw-semibold">Obs. Profissão:</p>
              <input type="text" name="obsProfissao2" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
          </div>
          <!-- Fim da Linha 8 -->

          <!-- Linha 9 -->
          <div class="row g-1 px-2">
            <!-- Input Estado civil -->
            <div class="col-4">
              <p class="fs-7 mb-1 fw-semibold">Estado Civil: <span class="text-danger">*</span></p>
              <input list="listaEstadoCivil" id="estadoCivil" name="estadoCivil" class="form-control form-control-sm rounded-3 " required autocomplete="off">
              <datalist id="listaEstadoCivil">
                <option value="Casado(a)">
                <option value="Solteiro(a)">
                <option value="Namorados">
                <option value="União Estável">
                <option value="Divorciado(a)">
                <option value="Viúvo(a)">
              </datalist>
            </div>
            <!-- Input Tempo de Estado civil -->
            <div class="col-5">
              <p class="fs-7 mb-1 fw-semibold">Tempo de Estado Civil:</p>
              <input type="text" name="tempoEstadoCivil" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
            </div>
            <!-- Input Tempo de Estado civil -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Qtd. Filhos: <span class="text-danger">*</span></p>
              <input type="number" name="qtdFilhos" class="form-control form-control-sm rounded-3" autocomplete="off" required>
            </div>
          </div>
          <!-- Fim da Linha 9 -->

          <!-- Linha 10 -->
          <div class="row g-1 px-2">
            <div class="col-6 mt-1">
              <!-- Input Cidade -->
              <p class="fs-7 my-1 fw-semibold">Cidade: <span class="text-danger">*</span></p>
              <input list="cidade" name="cidade" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
              <datalist id="cidade">
                <option value="Adamantina"></option>
                <option value="Adolfo"></option>
                <option value="Aguaí"></option>
                <option value="Águas da Prata"></option>
                <option value="Águas de Lindóia"></option>
                <option value="Águas de Santa Bárbara"></option>
                <option value="Águas de São Pedro"></option>
                <option value="Agudos"></option>
                <option value="Alambari"></option>
                <option value="Alfredo Marcondes"></option>
                <option value="Altair"></option>
                <option value="Altinópolis"></option>
                <option value="Alto Alegre"></option>
                <option value="Alumínio"></option>
                <option value="Álvares Florence"></option>
                <option value="Álvares Machado"></option>
                <option value="Álvaro de Carvalho"></option>
                <option value="Alvinlândia"></option>
                <option value="Americana"></option>
                <option value="Américo Brasiliense"></option>
                <option value="Américo de Campos"></option>
                <option value="Amparo"></option>
                <option value="Analândia"></option>
                <option value="Andradina"></option>
                <option value="Angatuba"></option>
                <option value="Anhembi"></option>
                <option value="Anhumas"></option>
                <option value="Aparecida"></option>
                <option value="Aparecida D'Oeste"></option>
                <option value="Apiaí"></option>
                <option value="Araçariguama"></option>
                <option value="Araçatuba"></option>
                <option value="Araçoiaba da Serra"></option>
                <option value="Aramina"></option>
                <option value="Arandu"></option>
                <option value="Arapeí"></option>
                <option value="Araraquara"></option>
                <option value="Araras"></option>
                <option value="Arco-Íris"></option>
                <option value="Arealva"></option>
                <option value="Areias"></option>
                <option value="Areiópolis"></option>
                <option value="Ariranha"></option>
                <option value="Artur Nogueira"></option>
                <option value="Arujá"></option>
                <option value="Aspásia"></option>
                <option value="Assis"></option>
                <option value="Atibaia"></option>
                <option value="Auriflama"></option>
                <option value="Avaí"></option>
                <option value="Avanhandava"></option>
                <option value="Avaré"></option>
                <option value="Bady Bassitt"></option>
                <option value="Balbinos"></option>
                <option value="Bálsamo"></option>
                <option value="Bananal"></option>
                <option value="Barão de Antonina"></option>
                <option value="Barbosa"></option>
                <option value="Bariri"></option>
                <option value="Barra Bonita"></option>
                <option value="Barra do Chapéu"></option>
                <option value="Barra do Turvo"></option>
                <option value="Barretos"></option>
                <option value="Barrinha"></option>
                <option value="Barueri"></option>
                <option value="Bastos"></option>
                <option value="Batatais"></option>
                <option value="Bauru"></option>
                <option value="Bebedouro"></option>
                <option value="Bento de Abreu"></option>
                <option value="Bernardino de Campos"></option>
                <option value="Bertioga"></option>
                <option value="Bilac"></option>
                <option value="Birigui"></option>
                <option value="Biritiba-Mirim"></option>
                <option value="Boa Esperança do Sul"></option>
                <option value="Bocaina"></option>
                <option value="Bofete"></option>
                <option value="Boituva"></option>
                <option value="Bom Jesus dos Perdões"></option>
                <option value="Bom Sucesso de Itararé"></option>
                <option value="Borá"></option>
                <option value="Boracéia"></option>
                <option value="Borborema"></option>
                <option value="Borebi"></option>
                <option value="Botucatu"></option>
                <option value="Bragança Paulista"></option>
                <option value="Braúna"></option>
                <option value="Brejo Alegre"></option>
                <option value="Brodowski"></option>
                <option value="Brotas"></option>
                <option value="Buri"></option>
                <option value="Buritama"></option>
                <option value="Buritizal"></option>
                <option value="Cabrália Paulista"></option>
                <option value="Cabreúva"></option>
                <option value="Caçapava"></option>
                <option value="Cachoeira Paulista"></option>
                <option value="Caconde"></option>
                <option value="Cafelândia"></option>
                <option value="Caiabu"></option>
                <option value="Caieiras"></option>
                <option value="Caiuá"></option>
                <option value="Cajamar"></option>
                <option value="Cajati"></option>
                <option value="Cajobi"></option>
                <option value="Cajuru"></option>
                <option value="Campina do Monte Alegre"></option>
                <option value="Campinas"></option>
                <option value="Campo Limpo Paulista"></option>
                <option value="Campos do Jordão"></option>
                <option value="Campos Novos Paulista"></option>
                <option value="Cananéia"></option>
                <option value="Canas"></option>
                <option value="Cândido Mota"></option>
                <option value="Cândido Rodrigues"></option>
                <option value="Canitar"></option>
                <option value="Capão Bonito"></option>
                <option value="Capela do Alto"></option>
                <option value="Capivari"></option>
                <option value="Caraguatatuba"></option>
                <option value="Carapicuíba"></option>
                <option value="Cardoso"></option>
                <option value="Casa Branca"></option>
                <option value="Cássia dos Coqueiros"></option>
                <option value="Castilho"></option>
                <option value="Catanduva"></option>
                <option value="Catiguá"></option>
                <option value="Cedral"></option>
                <option value="Cerqueira César"></option>
                <option value="Cerquilho"></option>
                <option value="Cesário Lange"></option>
                <option value="Charqueada"></option>
                <option value="Chavantes"></option>
                <option value="Clementina"></option>
                <option value="Colina"></option>
                <option value="Colômbia"></option>
                <option value="Conchal"></option>
                <option value="Conchas"></option>
                <option value="Cordeirópolis"></option>
                <option value="Coroados"></option>
                <option value="Coronel Macedo"></option>
                <option value="Corumbataí"></option>
                <option value="Cosmópolis"></option>
                <option value="Cosmorama"></option>
                <option value="Cotia"></option>
                <option value="Cravinhos"></option>
                <option value="Cristais Paulista"></option>
                <option value="Cruzália"></option>
                <option value="Cruzeiro"></option>
                <option value="Cubatão"></option>
                <option value="Cunha"></option>
                <option value="Descalvado"></option>
                <option value="Diadema"></option>
                <option value="Dirce Reis"></option>
                <option value="Divinolândia"></option>
                <option value="Dobrada"></option>
                <option value="Dois Córregos"></option>
                <option value="Dolcinópolis"></option>
                <option value="Dourado"></option>
                <option value="Dracena"></option>
                <option value="Duartina"></option>
                <option value="Dumont"></option>
                <option value="Echaporã"></option>
                <option value="Eldorado"></option>
                <option value="Elias Fausto"></option>
                <option value="Elisiário"></option>
                <option value="Embaúba"></option>
                <option value="Embu das Artes"></option>
                <option value="Embu-Guaçu"></option>
                <option value="Emilianópolis"></option>
                <option value="Engenheiro Coelho"></option>
                <option value="Espírito Santo do Pinhal"></option>
                <option value="Espírito Santo do Turvo"></option>
                <option value="Estiva Gerbi"></option>
                <option value="Estrela D'Oeste"></option>
                <option value="Estrela do Norte"></option>
                <option value="Euclides da Cunha Paulista"></option>
                <option value="Fartura"></option>
                <option value="Fernando Prestes"></option>
                <option value="Fernandópolis"></option>
                <option value="Fernão"></option>
                <option value="Ferraz de Vasconcelos"></option>
                <option value="Flora Rica"></option>
                <option value="Floreal"></option>
                <option value="Flórida Paulista"></option>
                <option value="Florínea"></option>
                <option value="Franca"></option>
                <option value="Francisco Morato"></option>
                <option value="Franco da Rocha"></option>
                <option value="Gabriel Monteiro"></option>
                <option value="Gália"></option>
                <option value="Garça"></option>
                <option value="Gastão Vidigal"></option>
                <option value="Gavião Peixoto"></option>
                <option value="General Salgado"></option>
                <option value="Getulina"></option>
                <option value="Glicério"></option>
                <option value="Guaiçara"></option>
                <option value="Guaimbê"></option>
                <option value="Guaíra"></option>
                <option value="Guapiaçu"></option>
                <option value="Guapiara"></option>
                <option value="Guará"></option>
                <option value="Guaraçaí"></option>
                <option value="Guaraci"></option>
                <option value="Guarani D'Oeste"></option>
                <option value="Guarantã"></option>
                <option value="Guararapes"></option>
                <option value="Guararema"></option>
                <option value="Guaratinguetá"></option>
                <option value="Guareí"></option>
                <option value="Guariba"></option>
                <option value="Guarujá"></option>
                <option value="Guarulhos"></option>
                <option value="Guatapará"></option>
                <option value="Guzolândia"></option>
                <option value="Herculândia"></option>
                <option value="Holambra"></option>
                <option value="Hortolândia"></option>
                <option value="Iacanga"></option>
                <option value="Iacri"></option>
                <option value="Iaras"></option>
                <option value="Ibaté"></option>
                <option value="Ibirá"></option>
                <option value="Ibirarema"></option>
                <option value="Ibitinga"></option>
                <option value="Ibiúna"></option>
                <option value="Icém"></option>
                <option value="Iepê"></option>
                <option value="Igaraçu do Tietê"></option>
                <option value="Igarapava"></option>
                <option value="Igaratá"></option>
                <option value="Iguape"></option>
                <option value="Ilha Comprida"></option>
                <option value="Ilha Solteira"></option>
                <option value="Ilhabela"></option>
                <option value="Indaiatuba"></option>
                <option value="Indiana"></option>
                <option value="Indiaporã"></option>
                <option value="Inúbia Paulista"></option>
                <option value="Ipaussu"></option>
                <option value="Iperó"></option>
                <option value="Ipeúna"></option>
                <option value="Ipiguá"></option>
                <option value="Iporanga"></option>
                <option value="Ipuã"></option>
                <option value="Iracemápolis"></option>
                <option value="Irapuã"></option>
                <option value="Irapuru"></option>
                <option value="Itaberá"></option>
                <option value="Itaí"></option>
                <option value="Itajobi"></option>
                <option value="Itaju"></option>
                <option value="Itanhaém"></option>
                <option value="Itaóca"></option>
                <option value="Itapecerica da Serra"></option>
                <option value="Itapetininga"></option>
                <option value="Itapeva"></option>
                <option value="Itapevi"></option>
                <option value="Itapira"></option>
                <option value="Itapirapuã Paulista"></option>
                <option value="Itápolis"></option>
                <option value="Itaporanga"></option>
                <option value="Itapuí"></option>
                <option value="Itapura"></option>
                <option value="Itaquaquecetuba"></option>
                <option value="Itararé"></option>
                <option value="Itariri"></option>
                <option value="Itatiba"></option>
                <option value="Itatinga"></option>
                <option value="Itirapina"></option>
                <option value="Itirapuã"></option>
                <option value="Itobi"></option>
                <option value="Itu"></option>
                <option value="Itupeva"></option>
                <option value="Ituverava"></option>
                <option value="Jaborandi"></option>
                <option value="Jaboticabal"></option>
                <option value="Jacareí"></option>
                <option value="Jaci"></option>
                <option value="Jacupiranga"></option>
                <option value="Jaguariúna"></option>
                <option value="Jales"></option>
                <option value="Jambeiro"></option>
                <option value="Jandira"></option>
                <option value="Jardinópolis"></option>
                <option value="Jarinu"></option>
                <option value="Jaú"></option>
                <option value="Jeriquara"></option>
                <option value="Joanópolis"></option>
                <option value="João Ramalho"></option>
                <option value="José Bonifácio"></option>
                <option value="Júlio Mesquita"></option>
                <option value="Jumirim"></option>
                <option value="Jundiaí"></option>
                <option value="Junqueirópolis"></option>
                <option value="Juquiá"></option>
                <option value="Juquitiba"></option>
                <option value="Lagoinha"></option>
                <option value="Laranjal Paulista"></option>
                <option value="Lavínia"></option>
                <option value="Lavrinhas"></option>
                <option value="Leme"></option>
                <option value="Lençóis Paulista"></option>
                <option value="Limeira"></option>
                <option value="Lindóia"></option>
                <option value="Lins"></option>
                <option value="Lorena"></option>
                <option value="Lourdes"></option>
                <option value="Louveira"></option>
                <option value="Lucélia"></option>
                <option value="Lucianópolis"></option>
                <option value="Luís Antônio"></option>
                <option value="Luiziânia"></option>
                <option value="Lupércio"></option>
                <option value="Lutécia"></option>
                <option value="Macatuba"></option>
                <option value="Macaubal"></option>
                <option value="Macedônia"></option>
                <option value="Magda"></option>
                <option value="Mairinque"></option>
                <option value="Mairiporã"></option>
                <option value="Manduri"></option>
                <option value="Marabá Paulista"></option>
                <option value="Maracaí"></option>
                <option value="Marapoama"></option>
                <option value="Mariápolis"></option>
                <option value="Marília"></option>
                <option value="Marinópolis"></option>
                <option value="Martinópolis"></option>
                <option value="Matão"></option>
                <option value="Mauá"></option>
                <option value="Mendonça"></option>
                <option value="Meridiano"></option>
                <option value="Mesópolis"></option>
                <option value="Miguelópolis"></option>
                <option value="Mineiros do Tietê"></option>
                <option value="Mira Estrela"></option>
                <option value="Miracatu"></option>
                <option value="Mirandópolis"></option>
                <option value="Mirante do Paranapanema"></option>
                <option value="Mirassol"></option>
                <option value="Mirassolândia"></option>
                <option value="Mococa"></option>
                <option value="Mogi das Cruzes"></option>
                <option value="Mogi Guaçu"></option>
                <option value="Mogi Mirim"></option>
                <option value="Mombuca"></option>
                <option value="Monções"></option>
                <option value="Mongaguá"></option>
                <option value="Monte Alegre do Sul"></option>
                <option value="Monte Alto"></option>
                <option value="Monte Aprazível"></option>
                <option value="Monte Azul Paulista"></option>
                <option value="Monte Castelo"></option>
                <option value="Monte Mor"></option>
                <option value="Monteiro Lobato"></option>
                <option value="Morro Agudo"></option>
                <option value="Morungaba"></option>
                <option value="Motuca"></option>
                <option value="Murutinga do Sul"></option>
                <option value="Nantes"></option>
                <option value="Narandiba"></option>
                <option value="Natividade da Serra"></option>
                <option value="Nazaré Paulista"></option>
                <option value="Neves Paulista"></option>
                <option value="Nhandeara"></option>
                <option value="Nipoã"></option>
                <option value="Nova Aliança"></option>
                <option value="Nova Campina"></option>
                <option value="Nova Canaã Paulista"></option>
                <option value="Nova Castilho"></option>
                <option value="Nova Europa"></option>
                <option value="Nova Granada"></option>
                <option value="Nova Guataporanga"></option>
                <option value="Nova Independência"></option>
                <option value="Nova Luzitânia"></option>
                <option value="Nova Odessa"></option>
                <option value="Novais"></option>
                <option value="Novo Horizonte"></option>
                <option value="Nuporanga"></option>
                <option value="Ocauçu"></option>
                <option value="Óleo"></option>
                <option value="Olímpia"></option>
                <option value="Onda Verde"></option>
                <option value="Oriente"></option>
                <option value="Orindiúva"></option>
                <option value="Orlândia"></option>
                <option value="Osasco"></option>
                <option value="Oscar Bressane"></option>
                <option value="Osvaldo Cruz"></option>
                <option value="Ourinhos"></option>
                <option value="Ouro Verde"></option>
                <option value="Ouroeste"></option>
                <option value="Pacaembu"></option>
                <option value="Palestina"></option>
                <option value="Palmares Paulista"></option>
                <option value="Palmeira D'Oeste"></option>
                <option value="Palmital"></option>
                <option value="Panorama"></option>
                <option value="Paraguaçu Paulista"></option>
                <option value="Paraibuna"></option>
                <option value="Paraíso"></option>
                <option value="Paranapanema"></option>
                <option value="Paranapuã"></option>
                <option value="Parapuã"></option>
                <option value="Pardinho"></option>
                <option value="Pariquera-Açu"></option>
                <option value="Parisi"></option>
                <option value="Patrocínio Paulista"></option>
                <option value="Paulicéia"></option>
                <option value="Paulínia"></option>
                <option value="Paulistânia"></option>
                <option value="Paulo de Faria"></option>
                <option value="Pederneiras"></option>
                <option value="Pedra Bela"></option>
                <option value="Pedranópolis"></option>
                <option value="Pedregulho"></option>
                <option value="Pedreira"></option>
                <option value="Pedrinhas Paulista"></option>
                <option value="Pedro de Toledo"></option>
                <option value="Penápolis"></option>
                <option value="Pereira Barreto"></option>
                <option value="Pereiras"></option>
                <option value="Peruíbe"></option>
                <option value="Piacatu"></option>
                <option value="Piedade"></option>
                <option value="Pilar do Sul"></option>
                <option value="Pindamonhangaba"></option>
                <option value="Pindorama"></option>
                <option value="Pinhalzinho"></option>
                <option value="Piquerobi"></option>
                <option value="Piquete"></option>
                <option value="Piracaia"></option>
                <option value="Piracicaba"></option>
                <option value="Piraju"></option>
                <option value="Pirajuí"></option>
                <option value="Pirangi"></option>
                <option value="Pirapora do Bom Jesus"></option>
                <option value="Pirapozinho"></option>
                <option value="Pirassununga"></option>
                <option value="Piratininga"></option>
                <option value="Pitangueiras"></option>
                <option value="Planalto"></option>
                <option value="Platina"></option>
                <option value="Poá"></option>
                <option value="Poloni"></option>
                <option value="Pompéia"></option>
                <option value="Pongaí"></option>
                <option value="Pontal"></option>
                <option value="Pontalinda"></option>
                <option value="Pontes Gestal"></option>
                <option value="Populina"></option>
                <option value="Porangaba"></option>
                <option value="Porto Feliz"></option>
                <option value="Porto Ferreira"></option>
                <option value="Potim"></option>
                <option value="Potirendaba"></option>
                <option value="Pracinha"></option>
                <option value="Pradópolis"></option>
                <option value="Praia Grande"></option>
                <option value="Pratânia"></option>
                <option value="Presidente Alves"></option>
                <option value="Presidente Bernardes"></option>
                <option value="Presidente Epitácio"></option>
                <option value="Presidente Prudente"></option>
                <option value="Presidente Venceslau"></option>
                <option value="Promissão"></option>
                <option value="Quadra"></option>
                <option value="Quatá"></option>
                <option value="Queiroz"></option>
                <option value="Queluz"></option>
                <option value="Quintana"></option>
                <option value="Rafard"></option>
                <option value="Rancharia"></option>
                <option value="Redenção da Serra"></option>
                <option value="Regente Feijó"></option>
                <option value="Reginópolis"></option>
                <option value="Registro"></option>
                <option value="Restinga"></option>
                <option value="Ribeira"></option>
                <option value="Ribeirão Bonito"></option>
                <option value="Ribeirão Branco"></option>
                <option value="Ribeirão Corrente"></option>
                <option value="Ribeirão do Sul"></option>
                <option value="Ribeirão dos Índios"></option>
                <option value="Ribeirão Grande"></option>
                <option value="Ribeirão Pires"></option>
                <option value="Ribeirão Preto"></option>
                <option value="Rifaina"></option>
                <option value="Rincão"></option>
                <option value="Rinópolis"></option>
                <option value="Rio Claro"></option>
                <option value="Rio das Pedras"></option>
                <option value="Rio Grande da Serra"></option>
                <option value="Riolândia"></option>
                <option value="Riversul"></option>
                <option value="Rosana"></option>
                <option value="Roseira"></option>
                <option value="Rubiácea"></option>
                <option value="Rubinéia"></option>
                <option value="Sabino"></option>
                <option value="Sagres"></option>
                <option value="Sales"></option>
                <option value="Sales Oliveira"></option>
                <option value="Salesópolis"></option>
                <option value="Salmourão"></option>
                <option value="Saltinho"></option>
                <option value="Salto"></option>
                <option value="Salto de Pirapora"></option>
                <option value="Salto Grande"></option>
                <option value="Sandovalina"></option>
                <option value="Santa Adélia"></option>
                <option value="Santa Albertina"></option>
                <option value="Santa Bárbara D'Oeste"></option>
                <option value="Santa Branca"></option>
                <option value="Santa Clara D'Oeste"></option>
                <option value="Santa Cruz da Conceição"></option>
                <option value="Santa Cruz da Esperança"></option>
                <option value="Santa Cruz das Palmeiras"></option>
                <option value="Santa Cruz do Rio Pardo"></option>
                <option value="Santa Ernestina"></option>
                <option value="Santa Fé do Sul"></option>
                <option value="Santa Gertrudes"></option>
                <option value="Santa Isabel"></option>
                <option value="Santa Lúcia"></option>
                <option value="Santa Maria da Serra"></option>
                <option value="Santa Mercedes"></option>
                <option value="Santa Rita D'Oeste"></option>
                <option value="Santa Rita do Passa Quatro"></option>
                <option value="Santa Rosa de Viterbo"></option>
                <option value="Santa Salete"></option>
                <option value="Santana da Ponte Pensa"></option>
                <option value="Santana de Parnaíba"></option>
                <option value="Santo Anastácio"></option>
                <option value="Santo André"></option>
                <option value="Santo Antônio da Alegria"></option>
                <option value="Santo Antônio de Posse"></option>
                <option value="Santo Antônio do Aracanguá"></option>
                <option value="Santo Antônio do Jardim"></option>
                <option value="Santo Antônio do Pinhal"></option>
                <option value="Santo Expedito"></option>
                <option value="Santópolis do Aguapeí"></option>
                <option value="Santos"></option>
                <option value="São Bento do Sapucaí"></option>
                <option value="São Bernardo do Campo"></option>
                <option value="São Caetano do Sul"></option>
                <option value="São Carlos"></option>
                <option value="São Francisco"></option>
                <option value="São João da Boa Vista"></option>
                <option value="São João das Duas Pontes"></option>
                <option value="São João de Iracema"></option>
                <option value="São João do Pau D'Alho"></option>
                <option value="São Joaquim da Barra"></option>
                <option value="São José da Bela Vista"></option>
                <option value="São José do Barreiro"></option>
                <option value="São José do Rio Pardo"></option>
                <option value="São José do Rio Preto"></option>
                <option value="São José dos Campos"></option>
                <option value="São Lourenço da Serra"></option>
                <option value="São Luiz do Paraitinga"></option>
                <option value="São Manuel"></option>
                <option value="São Miguel Arcanjo"></option>
                <option value="São Paulo"></option>
                <option value="São Pedro"></option>
                <option value="São Pedro do Turvo"></option>
                <option value="São Roque"></option>
                <option value="São Sebastião"></option>
                <option value="São Sebastião da Grama"></option>
                <option value="São Simão"></option>
                <option value="São Vicente"></option>
                <option value="Sarapuí"></option>
                <option value="Sarutaiá"></option>
                <option value="Sebastianópolis do Sul"></option>
                <option value="Serra Azul"></option>
                <option value="Serra Negra"></option>
                <option value="Serrana"></option>
                <option value="Sertãozinho"></option>
                <option value="Sete Barras"></option>
                <option value="Severínia"></option>
                <option value="Silveiras"></option>
                <option value="Socorro"></option>
                <option value="Sorocaba"></option>
                <option value="Sud Mennucci"></option>
                <option value="Sumaré"></option>
                <option value="Suzanápolis"></option>
                <option value="Suzano"></option>
                <option value="Tabapuã"></option>
                <option value="Tabatinga"></option>
                <option value="Taboão da Serra"></option>
                <option value="Taciba"></option>
                <option value="Taguaí"></option>
                <option value="Taiaçu"></option>
                <option value="Taiúva"></option>
                <option value="Tambaú"></option>
                <option value="Tanabi"></option>
                <option value="Tapiraí"></option>
                <option value="Tapiratiba"></option>
                <option value="Taquaral"></option>
                <option value="Taquaritinga"></option>
                <option value="Taquarituba"></option>
                <option value="Taquarivaí"></option>
                <option value="Tarabai"></option>
                <option value="Tarumã"></option>
                <option value="Tatuí"></option>
                <option value="Taubaté"></option>
                <option value="Tejupá"></option>
                <option value="Teodoro Sampaio"></option>
                <option value="Terra Roxa"></option>
                <option value="Tietê"></option>
                <option value="Timburi"></option>
                <option value="Torre de Pedra"></option>
                <option value="Torrinha"></option>
                <option value="Trabiju"></option>
                <option value="Tremembé"></option>
                <option value="Três Fronteiras"></option>
                <option value="Tuiuti"></option>
                <option value="Tupã"></option>
                <option value="Tupi Paulista"></option>
                <option value="Turiúba"></option>
                <option value="Turmalina"></option>
                <option value="Ubarana"></option>
                <option value="Ubatuba"></option>
                <option value="Ubirajara"></option>
                <option value="Uchoa"></option>
                <option value="União Paulista"></option>
                <option value="Urânia"></option>
                <option value="Uru"></option>
                <option value="Urupês"></option>
                <option value="Valentim Gentil"></option>
                <option value="Valinhos"></option>
                <option value="Valparaíso"></option>
                <option value="Vargem"></option>
                <option value="Vargem Grande do Sul"></option>
                <option value="Vargem Grande Paulista"></option>
                <option value="Várzea Paulista"></option>
                <option value="Vera Cruz"></option>
                <option value="Vinhedo"></option>
                <option value="Viradouro"></option>
                <option value="Vista Alegre do Alto"></option>
                <option value="Vitória Brasil"></option>
                <option value="Votorantim"></option>
                <option value="Votuporanga"></option>
                <option value="Zacarias"></option>
              </datalist>
            </div>
            <!-- Input -->
            <div class="col-6 mt-1 pb-1">
              <!-- Input Estado -->
              <p class="fs-7 my-1 fw-semibold">Estado: <span class="text-danger">*</span></p>
              <input type="text" name="estado" value="SP" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
            </div>
          </div>
          <!-- Fim da Linha 10 -->

          <!-- Linha 10 -->
          <div class="row g-1 px-2 pb-1">
            <!-- Input Tel. 1 -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Tel. 1: <span class="text-danger">*</span></p>
              <input type="text" name="tel1" class="form-control form-control-sm rounded-3 " autocomplete="off" required>
            </div>
            <!-- Input Tel. 2 -->
            <div class="col-3">
              <p class="fs-7 mb-1 fw-semibold">Tel. 2:</p>
              <input type="text" name="tel2" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
            <!-- Input CPF da Compra -->
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">CPF da Compra:</p>
              <input type="text" name="cpfCompra" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
          </div>
          <!-- Fim da Linha 10 -->

          <!-- Linha 11 -->
          <!-- Input Nome e idade dos filhos -->
          <div class="row g-1 px-2">
            <div class="col">
              <p class="fs-7 mb-1 fw-semibold">Nome e idade dos filhos:</p>
              <input type="text" name="nomeIdadeFilhos" class="form-control form-control-sm rounded-3 " autocomplete="off">
            </div>
          </div>
          <!-- Fim da Linha 11 -->

          <!-- Linha 12 -->
          <!-- Input Cartão -->
          <div class="row g-1 px-2 mx-2 pt-1 mt-1 fs-7 border border-1 border-black border-black rounded-3">
            <div class="col-12">
              <label class="form-label fs-7 me-2 fw-semibold">Possui cartão de crédito? <span class="text-danger">*</span></label>
              <input type="radio" name="cartao" id="nao" class="form-check-input" value="Não">
              <label for="nao" class="form-label fw-semibold">Não</label>
              <input type="radio" name="cartao" id="sim" class="form-check-input ms-2" value="Sim">
              <label for="sim" class="form-label fw-semibold">Sim</label>

              <label for="bandeiraVisa" class="form-label ms-5 fw-semibold">Visa
                <input type="radio" name="bandeiraCartao" id="bandeiraVisa" class="form-check-input" value="Visa" autocomplete="off">
              </label>

              <label for="bandeiraMaster" class="form-label ms-4 fw-semibold">Master
                <input type="radio" name="bandeiraCartao" id="bandeiraMaster" class="form-check-input" autocomplete="off" value="Mastercard">
              </label>

              <label for="bandeiraElo" class="form-label ms-4 fw-semibold">Elo
                <input type="radio" name="bandeiraCartao" id="bandeiraElo" class="form-check-input" value="Elo" autocomplete="off">
              </label>

              <label for="nq" class="form-label ms-4 fw-semibold">Sem cartão
                <input type="radio" name="bandeiraCartao" id="nq" class="form-check-input" value="sem Cartão" autocomplete="off">
              </label>
            </div>
          </div>
          <!-- Fim da Linha 12 -->

          <!-- Linha 13 -->
          <div class="row g-1 px-2 border border-1 border-black rounded-3 mx-2 mt-1">
            <div class="col-8 fw-semibold">
              <p class="fs-7 mb-1">
                Quantos dias no mês saem a lazer? 1x (&nbsp;&nbsp;&nbsp;) 2x (&nbsp;&nbsp;&nbsp;) 3x
                (&nbsp;&nbsp;&nbsp;) 4x ou + (&nbsp;&nbsp;&nbsp;)
              </p>
            </div>
            <div class="col-4 text-start fw-semibold">
              <p class="fs-7 mb-1">
                Quanto gastam por passeio?
              </p>
            </div>
          </div>
          <!-- Fim da Linha 13 -->

          <!-- Linha 14 -->
          <div class="row g-1 px-2 border border-1 border-black rounded-3 mx-2 mt-1">
            <div class="col-4 fw-semibold">
              <p class="fs-7 mb-1">
                Época que costumam passear?
              </p>
            </div>
            <div class="col text-center fw-semibold">
              <p class="fs-7 mb-1">
                Durante a Semana (&nbsp;&nbsp;)
              </p>
            </div>
            <div class="col text-center fw-semibold">
              <p class="fs-7 mb-1">
                Finais de Semana (&nbsp;&nbsp;)
              </p>
            </div>
            <div class="col text-center fw-semibold">
              <p class="fs-7 mb-1">
                Nos Feriados (&nbsp;&nbsp )
              </p>
            </div>
          </div>
          <!-- Fim da Linha 14 -->

          <!-- Linha 15 -->
          <div class="row g-1 px-2 mx-2 border border-1 border-black rounded-3 mt-1">
            <div class="col-6 w-auto fw-semibold">
              <p class="fs-7 mb-1">
                Possuem benefício de Lazer? Não (&nbsp;&nbsp;)&nbsp;Sim (&nbsp;&nbsp;)
              </p>
            </div>
            <div class="col fw-semibold">
              <p class="fs-7 mb-1">
                - Já cotaram pra se associar na sua cidade? &nbsp;Não (&nbsp;&nbsp;) Sim (&nbsp;&nbsp;)
              </p>
            </div>
          </div>
          <!-- Fim da Linha 15 -->

          <!-- Linha 16 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3">
            <div class="col fw-semibold">
              <p class="fs-7 mb-1">
                Passeiam com: &nbsp;&nbsp; (&nbsp;&nbsp;) Só família &nbsp;&nbsp; (&nbsp;&nbsp;)
                Parentes &nbsp;&nbsp; (&nbsp;&nbsp;) Amigos
              </p>
            </div>
          </div>
          <!-- Fim da Linha 16 -->

          <!-- Linha 17 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3">
            <div class="col fw-semibold">
              <p class="fs-7 mb-1">
                Se pudessem vir sempre para o Thermas, quantos dias no mês viriam? (&nbsp;) 1x
                &nbsp;&nbsp; (&nbsp;&nbsp;) 2x &nbsp;&nbsp; (&nbsp;&nbsp;) 3x &nbsp;&nbsp;
                (&nbsp;&nbsp;) 4x ou +
              </p>
            </div>
          </div>
          <!-- Fim da Linha 17 -->

          <!-- Linha 18 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3">
            <div class="col fw-semibold">
              <p class="fs-7 mb-1">
                Qual o perfil de diversão de vocês?
              </p>
            </div>
          </div>
          <!-- Fim da Linha 18 -->

          <!-- Linha 19 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3">
            <div class="col fw-semibold">
              <p class="fs-7 mb-1">
                Quem normalmente escolhe e organiza os passeios?
              </p>
            </div>
          </div>
          <!-- Fim da Linha 19 -->

          <!-- Linha 20 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3 pb-2">
            <label class="form-label fs-7 fw-semibold">
              Observações:
            </label>
            <div class="col-12 fw-semibold">
              <input type="text" name="observacoes" class="form-control form-control-sm border-0" id="inputObservacoes" autocomplete="off">
            </div>
          </div>
          <!-- Fim da Linha 20 -->

          <!-- Linha 21 -->
          <div class="row g-1 px-2 mt-1 mx-2 border border-1 border-black rounded-3">
            <div class="col fw-semibold">
              <p class="fs-7 mb-1 py-1">
                Consultor de Diversão:
              </p>
            </div>
          </div>
          <!-- Fim da Linha 21 -->
          <!-- Fim da Ficha -->
          <!-- Botões -->
          <div class="row mt-4 pt-1 row-buttons">
            <!-- Salvar Ficha -->
            <div class="col-4 w-auto text-start">
              <button type="submit" class="btn mt-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Salvar informações" id="liveToastBtn">
                <i class="bi bi-floppy pe-1 fs-3 text-dark"></i>
              </button>
            </div>
            <!-- Voltar -->
            <div class="col-2 text-start">
              <a href="/agendamentos" class="btn mt-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Sair">
                <i class="bi bi-box-arrow-left pe-1 fs-3 text-dark"></i>
              </a>
            </div>
          </div>
          <!-- Fim dos Botões -->
        </form>
      </div>
    </div>



    <!-- Verso da Folha -->
    <div class="print-page">
      <div class="container container-verso w-auto mt-5 bg-white">
        <div class="row mx-2 mt-5 d-block text-white"></div>
      </div>
    </div>

    <script>
      // → Tooltips de dicas dos botões de Imprimir, Salvar e Sair
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>