<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Dados de Agendamento</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <p class="mb-2 mt-5">
                <img src="/img/maisThermas.png" class="maisThermas-header">
            </p>
            <h1 class="ff-philomene yellow display-5 mt-2">AGENDAMENTO</h1>
        </div>
        <!-- Form de cadastro de dados para o agendamento -->
        <div class="row justify-content-center mt-3">
            <div class="col-8">
                <form action="/dados_agendamento" method="post" class="form-control form-style px-3 py-2">
                    <!-- Linha 1 -->
                    <!-- Nomes -->
                    <div class="row">
                        <div class="col-6">
                            <label for="nomesAgendamento" class="form-label fs-6 fw-semibold mb-1">Nomes:</label>
                            <input type="text" class="form-control bg-transparent text-white" name="nomesAgendamento"
                                required autocomplete="off" id="nomesAgendamento" placeholder="Ex.: Fulano da Silva"
                                autocapitalize="on">
                        </div>
                        <!-- Horário -->
                        <div class="col-6">
                            <label for="horarioAgendamento" class="form-label fs-6 fw-semibold mb-1">Horário:</label>
                            <input type="time" class="form-control bg-transparent text-white" name="horarioAgendamento"
                                autocomplete="off" id="horarioAgendamento">
                        </div>
                    </div>
                    <!-- Linha 2 -->
                    <!-- Data -->
                    <div class="row mt-1">
                        <div class="col-6">
                            <label for="dataAgendamento" class="form-label fs-6 fw-semibold mb-1">Data:</label>
                            <input type="date" class="form-control bg-transparent text-white" name="dataAgendamento"
                                required autocomplete="off" id="dataAgendamento" min="1900-01-01" max="2099-12-31">
                        </div>
                        <!-- Promotor -->
                        <div class="col-6">
                            <label for="promotor" class="form-label fs-6 fw-semibold mb-1">Promotor:</label>
                            <input list="promotores" id="promotor" name="promotor"
                                class="form-control bg-transparent text-white" placeholder="Selecione o Promotor"
                                required autocomplete="off">

                            <datalist id="promotores" class="text-white">
                                <option value="Paulo Cesar">
                                <option value="Talita Lima">
                                <option value="Vinicius Manzzato">
                                <option value="Yan Bueno">
                            </datalist>

                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success w-100 mt-2 fw-semibold">Agendar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-around align-items-center text-center row-links w-100">
            <div class="col-3">
                <a href="/agendamentos" class="nav-link text-white fs-6 link-agendamentos ff-sora fw-light">
                    <i class="bi bi-list-nested fs-6 me-1"></i>Ver agendamentos
                </a>
            </div>
            <div class="col-3">
                <a href="/atendimentos" class="nav-link text-white fs-6 link-lista-atendimentos ff-sora fw-light">
                    <i class="bi bi-list-nested fs-6 me-1"></i>Ver atendimentos
                </a>
            </div>
        </div>
    </div>
</body>

</html>