* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../img/wpp_ficha2.webp');
    background-position: center;
    background-size: contain;
    backdrop-filter: blur(8px) brightness(.2);
    overflow-y: hidden;
}

.mainCard {
    height: 100%;
    max-width: 500px;
    padding: 50px 0px 50px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ff-noto {
    font-family: "Noto Sans", sans-serif;
}

.ff-sora {
    font-family: "Sora", sans-serif;
}

.convitePaulo {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(to top, #7d752b, #38d268);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        text-wrap: wrap;
        filter: drop-shadow(1px 2px 3px #000);
    }

    .bgNomes {
        background-color: rgba(255, 255, 255, .4);
        height: fit-content;
        padding: 9px 15px 11px 15px;
        text-align: center;
        text-wrap: wrap;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .bgInfo {
        background-color: rgba(255, 255, 255, .4);
        height: fit-content;
        padding: 12px 15px;
        text-align: left;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(1px 2px 3px #000);
    }
}

.conviteTalita {
    height: 100vh;
    max-width: 500px;
    background-image: url('../img/wpp_convite_talita.webp');
    background-size: cover;
    background-position: top;
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-wrap: wrap;
        filter: drop-shadow(0px 0px 0px transparent);
    }

    .bgNomes {
        background-color: rgba(255, 255, 255, .6);
        height: fit-content;
        padding: 9px 15px 11px 15px;
        text-align: center;
        text-wrap: wrap;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .bgInfo {
        background-color: rgba(255, 255, 255, .6);
        height: fit-content;
        padding: 12px 15px;
        text-align: left;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        color: #000000;
    }
}

.conviteVinicius {
    height: 100vh;
    max-width: 500px;
    background-image: url('../img/wpp_convite_vinicius.webp');
    background-size: cover;
    background-position: top;
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        font-family: "Noto Sans", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        text-wrap: wrap;
        filter: drop-shadow(1px 1px 2px #000);
    }

    .bgNomes {
        background-color: rgba(255, 255, 255, .4);
        height: fit-content;
        padding: 9px 15px 11px 15px;
        text-align: center;
        text-wrap: wrap;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .bgInfo {
        background-color: rgba(255, 255, 255, .4);
        height: fit-content;
        padding: 12px 15px;
        text-align: left;
        border-radius: 12px;
        width: 90%;
        filter: drop-shadow(8px 8px 2px #00000023);
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(1px 1px 2px #000);
    }
}

.conviteYan {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(0deg, rgba(8, 13, 14, 1) 0%, rgba(9, 27, 33, 1) 39%, rgba(6, 57, 74, 1) 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.header {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffbf00;
    filter: drop-shadow(3px 3px 1px #000);
    text-align: center;
    padding: 0px 50px;

    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .logoHeader {
        width: 230px;
        margin-top: 8px;
    }

    h3 {
        margin-top: 50px;
        font-size: 34px;
    }
}


main {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bgNomes {
    background-color: #3e5056;
    height: fit-content;
    padding: 9px 15px 11px 15px;
    text-align: center;
    text-wrap: wrap;
    border-radius: 12px;
    width: 90%;
    filter: drop-shadow(8px 8px 2px #00000023);
}

.nomes {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #e3e3e3;
    text-wrap: wrap;
}

.bgInfo {
    background-color: #3e5056;
    height: fit-content;
    padding: 12px 15px;
    text-align: left;
    border-radius: 12px;
    width: 90%;
    filter: drop-shadow(8px 8px 2px #00000023);
}

.local,
.data,
.promotor {
    font-family: "Noto Sans", sans-serif;
    font-size: 12rem;
    font-weight: 400;
    color: #e3e3e3;
}

.bold {
    font-weight: bolder;
}

footer {
    display: flex;
    justify-content: center;
}

.logoThermas {
    width: 105px;
    filter: drop-shadow(2px 3px 2px #000);
    position: relative;
    top: 50px;
}

.link-cadastro {
    position: absolute;
    left: 40px;
    bottom: 60px;
    filter: drop-shadow(3px 2px 2px #000);
}

.link-cadastro:hover {
    transition: all 250ms ease-out;
    transform: translateX(-10px);
    color: rgb(71, 234, 71) !important;
}

.link-agendamentos {
    position: absolute;
    left: 40px;
    bottom: 30px;
    filter: drop-shadow(3px 2px 2px #000);
}

.link-agendamentos:hover {
    transition: all 250ms ease-out;
    transform: translateX(10px);
    color: rgb(71, 234, 71) !important;
}

.btn-fullscreen {
    position: absolute;
    right: 40px;
    bottom: 30px;
    filter: drop-shadow(3px 2px 2px #000);
    color: #e3e3e3;
}

.btn-fullscreen:hover {
    transition: all 400ms ease;
    transform: scale(1.3);
}

@media (max-width: 798px) {
    .mainCard {
        height: 110vh;

        h1 {
            margin-top: 30px;
        }
    }

    .nomes {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: #e3e3e3;
        text-wrap: wrap;
    }

    .logoThermas {
        width: 105px;
        filter: drop-shadow(2px 3px 2px #000);
        position: relative;
        top: 40px;
    }

    .link-cadastro {
        position: absolute;
        left: 40px;
        bottom: -15%;
        filter: drop-shadow(3px 2px 2px #000);
    }

    .link-agendamentos {
        position: absolute;
        left: 40px;
        bottom: -10%;
        filter: drop-shadow(3px 2px 2px #000);
    }

    .btn-fullscreen {
        position: absolute;
        right: 40px;
        bottom: -15%;
        filter: drop-shadow(3px 2px 2px #000);
        color: #e3e3e3;
    }
}