@media print {
    .print-page {
        page-break-before: always;
    }

    body {
        background: none !important;
    }

    .link-top {
        display: none !important;
    }

    .title-top {
        display: none !important;
    }

    .form-ficha {
        width: 100vw;
        position: absolute;
        top: 10px;
        left: 0;
        border: none;
    }

    .tooltip {
        display: none !important;
    }

    .row-buttons {
        display: none !important;
    }

    .container-verso {
        margin: 0 auto;
        padding: 0 auto;
        background-image: url('../img/fundo_verso2.webp');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    max-height: 10000vh;
    backdrop-filter: brightness(.2) blur(3px);
    background-image: url('../img/wpp_ficha2.webp');
    background-size: cover;
    letter-spacing: 1px;
}

.maisThermas-header {
    width: 90px;
}

.title-top {
    font-family: 'Chau Philomene One', sans-serif;
    color: #ffbf00;
    filter: drop-shadow(3px 3px 1px #000);
}

.container-frente {
    max-width: 794px;
    margin: 0 auto;
    padding: 20px;
}

.form-ficha {
    background-image: url('../img/fundo-ficha.webp');
    background-position: bottom;
    background-size: cover;

    input {
        background-color: transparent;
        font-size: 12px;
        border: 1px solid black;
    }

    input::placeholder {
        font-size: 12px;
        color: black;
    }

    i {
        filter: drop-shadow(1px 1px 1px rgb(154, 154, 154));
    }
}

.logo-header {
    width: 130px;
    position: relative;
    right: 10px;
    top: 30px;
}

.fs-7 {
    font-size: 12px;
}

.toast-header {
    border: 2px solid #9bff80
}

button:focus,
button:hover,
a:focus,
a:hover {
    border: 1px solid transparent;
    outline: none;
}

.modal-dialog {
    position: relative;
    top: 3%;
    border-radius: 14px;
    border: 4px solid #992f3b !important;
}

.input-del-item {
    border: 2px solid #e3e3e3;
    background-color: #212529;
    color: #e3e3e3;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding-left: 7px;
    padding-bottom: 2px;
}

.input-del-item::placeholder {
    color: #737373;
}

.input-del-item:not(:focus) {
    transition: all 600ms ease;
}

.input-del-item:focus {
    transition: all 300ms ease;
    filter: drop-shadow(3px 3px 10px #992f3b);
    outline: none !important;
    border: 2px solid #992f3b;
    background-color: #212529;
    color: #e3e3e3;
}

/* Verso da Folha */
/* Verso da Folha */
/* Verso da Folha */
/* Verso da Folha */
/* Verso da Folha */
/* Verso da Folha */

.container-verso {
    max-width: 725px;
    height: 1020px;
    margin: 0 auto;
    background-image: url('../img/fundo_verso2.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}